/* font-family: 'Lemonada', cursive; */
/*font-family: 'Courgette', cursive;*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body,
.mainSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  min-height: 100vh;
  position: relative;
}

.welcome {
  width: 100%;
  flex-basis: 70vh;
  margin-top: 20vh;
  background-image: url("./images/coffee-791439_640.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
}

.titleWelcome {
  position: absolute;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0, 1);
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 5vh;
}

.welcome::after {
  content: "";
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

header {
  align-self: stretch;
  position: fixed;
  height: 20vh;
  top: 0;
  right: 0;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#logo {
  height: 70%;
  width: 50%;
  display: block;
  min-height: 80px;
}

#logo img {
  height: 100%;
  width: 90%;
}

.burger {
  display: block;
  position: fixed;
  font-size: 1.8rem;
  top: 7%;
  right: 5%;
  cursor: pointer;
  transition: 0.3s linear;
  z-index: 3;
}

i.burger.fa.fa-times.active {
  color: white;
}

.menu {
  width: 100vw;
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 2;
  list-style: none;
  transition: 0.2s;
}

.menu.off {
  top: -20vh;
}

.burger:hover {
  color: rgba(128, 128, 128, 0.507);
}

i.fa.off {
  display: none;
}

nav ul li {
  color: whitesmoke;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  line-height: 5vh;
  font-size: 5vh;
}

nav ul li a {
  display: block;
  font-size: 0.7rem;
  color: whitesmoke;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  max-width: 1200px;
}

nav ul li a:hover {
  background-color: gray;
}

main {
  width: 100%;
  max-width: 1200px;
  flex-basis: 100vh;
}

.products {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  max-width: 1200px;
}

.titleSection {
  width: 100%;
  height: 10%;
  max-width: 1200px;
  margin: 5% 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1rem;
  line-height: 1.5rem;
}

.imagesContainer {
  height: 90%;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.products div.title {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 7px;
  width: 100%;
  color: black;
  text-align: center;
  z-index: 0;
  font-size: 0.9rem;
  height: 10%;
  line-height: 3rem;
}

.imagesContainer div.img {
  position: relative;
  flex-basis: 45%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imagesContainer .img img {
  width: 100%;
  z-index: -1;
  transition: 0.3s;
  opacity: 0.9;
  height: 100%;
}

.products .img:hover {
  opacity: 0.6;
}

.section {
  width: 100%;
}

.imgProductsContainer {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.titleCont {
  width: 100%;
  max-width: 1200px;
  background-color: #e7d9b7;
  color: #412717;
  display: block;
  width: 100%;
  line-height: 4rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  letter-spacing: 7px;
  text-transform: uppercase;
  margin: 5% 0;
}

.photosContainer {
  width: 100%;
  max-width: 1200px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.mainDiv {
  flex-basis: 80%;
  min-height: 65vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #e7d9b7;
  text-align: center;
  margin: 5% 0;
}

.productImgDiv {
  width: 60%;
  flex-basis: 60%;
}

.productImgDiv img {
  width: 90%;
}

.imgProductsContainer p,
button {
  background-color: #e7d9b7;
  color: #412717;
  flex-basis: 10%;
  font-size: 0.9rem;
  letter-spacing: 4px;
  padding: 3%;
  display: block;
  line-height: 2rem;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.imgProductsContainer button {
  margin-top: 10%;
  border: none;
  transition: 0.3s;
}

.imgProductsContainer button:hover {
  border: 2px solid #e7d9b7;
  background-color: transparent;
}

.coffeHouses {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.imagesCoffe {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.imgCoffeShop {
  flex-basis: 90%;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  align-items: space-between;
  justify-content: center;
}

.imgCoffeShop img {
  width: 100%;
  height: 85%;
}

.imgCoffeShop div.title {
  flex-basis: 7%;
  align-self: flex-end;
  font-size: 1rem;
  line-height: 1rem;
  margin: 2% 0;
}

.contactContainer {
  margin-bottom: 10vh;
  margin-top: 3vh;
  width: 100vw;
  min-height: 80vw;
  max-width: 800px;
  /* background-image: url("./images/coffee_background_1280.jpg"); */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}

.wholeForm {
  display: flex;
  flex-direction: column;
  min-height: 40vh;
  align-items: center;
  justify-content: space-around;
}

.mainInForm {
  height: 20%;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 2%;
}

.formArticle {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  flex-basis: 60%;
}

.message {
  font-size: 0.8rem;
  flex-basis: 10%;
  text-align: center;
}

.form > * {
  width: 100%;
  padding: 3%;
  font-size: 0.6rem;
  border-width: 1px;
  border-collapse: collapse;
  margin-bottom: 5%;
  border-color: #333332;
  letter-spacing: 2px;
  text-align: left;
}

.form button {
  flex-basis: 5%;
  padding: 0;
  margin-top: 5%;
}

footer {
  width: 100%;
  height: 10vh;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer p {
  color: black;
  font-size: 0.7rem;
  letter-spacing: 3px;
  font-weight: bold;
}

.modal-wrap {
  display: none;
}

.modal-wrap.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.mainSection.blur {
  filter: blur(2px);
}

.modal-wrap.active .modal {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  position: absolute;
  width: 95%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  border: 2px solid #412717;
}

.modal .top {
  flex-basis: 10%;
  background-color: #e7d9b7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  letter-spacing: 2px;
}

.modal .middle {
  flex-grow: 1;
  min-height: 65vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.modal .bottom {
  flex-basis: 10%;
  background-color: #e7d9b7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  letter-spacing: 5px;
}

.hide {
  position: absolute;
  top: 3%;
  right: 3%;
  font-size: 1.5rem;
  cursor: pointer;
}

i.fa.fa-times {
  color: black;
}

.imgChosenProduct {
  height: 50%;
  width: 40%;
}

.leftPanel {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.leftPanel img {
  flex-basis: 60%;
  width: 35%;
}

.inputs {
  flex-basis: 20%;
  width: 70%;
}

.leftPanel input {
  flex-basis: 10%;
  width: 100%;
  padding: 2%;
  border: 1px solid black;
  font-size: 0.7rem;
  margin-bottom: 3px;
}

.rightPanel {
  display: flex;
  height: 55%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rightPanel h3 {
  width: 100%;
  flex-basis: 10%;
  align-self: center;
  font-size: 1rem;
  margin: 5%;
  line-height: 3rem;
  text-align: center;
}

.rightPanel table {
  width: 80vw;
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.rightPanel table tr {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.rightPanel table > tr,
th,
td,
button {
  flex-basis: 25%;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 0.8rem;
}

.modal-wrap button {
  border: none;
  color: #412717;
  background-color: #e7d9b7;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 1px;
  display: block;
  transition: 0.3s;
  width: 100%;
  height: 100%;
}

.tdButtons {
  display: flex;
  flex-direction: column;
  border: none;
}

.tdButtons button {
  border: 1px solid #412717;
  flex-basis: 50%;
  width: 100%;
  font-size: 0.6rem;
  letter-spacing: 1px;
}

.imgProductsContainer button:hover {
  border: 2px solid #e7d9b7;
  background-color: transparent;
}

@media (min-width: 768px) {
  header {
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .menu {
    height: 20vh;
  }

  .menu.off {
    top: -20vh;
  }

  .welcome {
    flex-basis: 60vh;
    margin-top: 20vh;
  }

  .titleWelcome {
    font-size: 1rem;
    letter-spacing: 10px;
    line-height: 5vh;
  }

  nav ul li {
    line-height: 5vh;
    font-size: 5vh;
  }

  nav ul li a {
    font-size: 0.8rem;
  }

  #logo {
    height: 70%;
    width: 30%;
    min-height: 80px;
  }

  #logo img {
    height: 100%;
    width: 100%;
  }

  .burger {
    font-size: 2rem;
    top: 6%;
    right: 5%;
  }

  .products {
    width: 80%;
    height: 90%;
    max-width: 1200px;
  }

  .titleSection {
    margin: 6% 0;
    letter-spacing: 5px;
    font-size: 1.2rem;
    line-height: 1rem;
  }

  .products div.title {
    letter-spacing: 7px;
    font-size: 0.9rem;
    margin: 5% 0;
  }

  .imagesContainer div.img {
    flex-shrink: 1;
    flex-basis: 37%;
  }

  .imagesCoffe {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .imgCoffeShop {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .imgCoffeShop img {
    width: 90%;
    height: 90%;
  }

  .imgCoffeShop div.title {
    flex-basis: 7%;
    align-self: center;
    font-size: 0.8rem;
    line-height: 0.8rem;
    margin: 2% 0;
  }
  .imgProductsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .photosContainer {
    width: 90%;
    max-width: 1200px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  .mainDiv {
    flex-basis: 45%;
    margin: 0;
    min-height: 40vh;
    justify-content: space-between;
    margin: 5% 0;
  }

  .imgProductsContainer p,
  button {
    flex-basis: 10%;
    font-size: 1rem;
    letter-spacing: 4px;
    line-height: 2rem;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
  }

  .imgProductsContainer button {
    font-size: 1rem;
    margin-top: 10%;
    border: none;
    transition: 0.3s;
    width: 100%;
  }

  .productImgDiv {
    width: 70%;
  }

  .contactContainer {
    margin-bottom: 10vh;
    margin-top: 5vh;
    width: 90vw;
    min-height: 70vw;
    max-width: 800px;
    background-image: url("./images/coffee_background_1280.jpg");
  }

  .wholeForm {
    display: flex;
    flex-direction: column;
    min-height: 30vh;
    align-items: center;
    justify-content: space-around;
  }

  .mainInForm {
    height: 20%;
    text-align: center;
    font-size: 1.3rem;
    margin: 2% 0;
  }

  .formArticle {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    flex-basis: 50%;
  }

  .message {
    font-size: 0.9rem;
    margin-bottom: 3%;
    flex-basis: 10%;
    text-align: center;
    width: 90%;
  }

  .contactContainer article {
    flex-basis: 90%;
  }

  .form > * {
    width: 100%;
    padding: 2%;
    font-size: 0.5rem;
    border-width: 1px;
    border-collapse: collapse;
    margin-bottom: 2%;
    border-color: #333332;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: left;
    background-color: #eee;
  }

  .form textarea {
    flex-basis: 40%;
  }

  .form input,
  button {
    flex-basis: 20%;
  }

  footer {
    width: 100%;
    height: 10vh;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  footer p {
    color: black;
    font-size: 1.1rem;
    letter-spacing: 3px;
    font-weight: bold;
  }

  .modal {
    width: 80%;
    height: 80%;
  }

  .modal-wrap {
    width: 100%;
    height: 100%;
  }

  .modal .top {
    flex-basis: 10%;
    font-size: 0.9rem;
    letter-spacing: 7px;
  }
  .modal .middle {
    flex-direction: row;
  }

  .modal .bottom {
    flex-basis: 10%;
    font-size: 1rem;
    letter-spacing: 7px;
  }

  .hide {
    top: 2%;
    right: 3%;
    font-size: 1.4rem;
  }

  .imgChosenProduct {
    height: 100%;
    width: 100%;
  }

  .leftPanel {
    flex-basis: 40%;
  }

  .leftPanel img {
    width: 40%;
    height: 90%;
  }

  .rightPanel {
    display: flex;
    flex-basis: 50%;
    height: 90%;
  }

  .rightPanel h3 {
    flex-basis: 5%;
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
  }

  .rightPanel table {
    flex-basis: 75%;
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .rightPanel table tr {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .rightPanel table th {
    font-size: 0.8rem;
  }

  .rightPanel table > tr,
  td,
  button {
    width: 25%;
    font-size: 0.7rem;
  }

  .modal-wrap button {
    letter-spacing: 2px;
    padding: 0;
    font-size: 0.6rem;
  }
}

@media (min-width: 1024px) {
  .titleWelcome {
    font-size: 1.6rem;
    letter-spacing: 7px;
    line-height: 5vh;
  }
  #logo {
    width: 25%;
  }

  .burger {
    font-size: 1.8rem;
    top: 7%;
    right: 3%;
  }

  .menu {
    flex-direction: row;
    transition: 0.4s;
  }

  nav ul li a {
    font-size: 1rem;
    line-height: 5vh;
  }

  nav ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .products {
    justify-content: space-between;
    width: 100%;
  }

  .products div.title {
    letter-spacing: 7px;
    font-size: 1rem;
    margin: 5% 0;
  }

  .imagesContainer div.img {
    flex-shrink: 1;
    flex-basis: 22%;
  }

  .imagesCoffe {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .imgCoffeShop {
    flex-basis: 48%;
    width: 100%;
  }

  .imgCoffeShop img {
    width: 90%;
    height: 90%;
  }

  .imgCoffeShop div.title {
    flex-basis: 7%;
    align-self: center;
    font-size: 1rem;
    line-height: 1rem;
    margin: 2% 0;
  }

  .titleCont {
    font-size: 0.9rem;
    letter-spacing: 6px;
    margin: 5% 0;
    line-height: 3rem;
  }

  .photosContainer {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  .mainDiv {
    flex-basis: 30%;
    height: 75vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    margin: 6% 0;
  }

  .productImgDiv {
    width: 70%;
  }

  .imgProductsContainer p,
  .imgProductsContainer button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 15%;
    font-size: 0.7rem;
    line-height: 1.5rem;
    padding: 4px 0;
    letter-spacing: 5px;
  }

  .imgProductsContainer button {
    margin-top: 7%;
    transition: 0.3s;
  }

  .contactContainer {
    margin-bottom: 10vh;
    margin-top: 10vh;
    width: 80%;
    height: 40vh;
  }
  .wholeForm {
    width: 100%;
    height: 50%;
  }
  .formArticle {
    width: 60%;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    flex-basis: 50%;
  }

  .message {
    font-size: 0.9rem;
    margin-bottom: 3%;
    flex-basis: 10%;
    text-align: center;
    width: 90%;
  }

  .mainInForm {
    width: 90%;
    flex-basis: 10%;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 2%;
  }

  .form textarea {
    flex-basis: 40%;
    font-size: 0.6rem;
  }

  .form input,
  button {
    flex-basis: 20%;
  }
  .inputs {
    font-size: 0.8rem;
  }

  footer p {
    color: black;
    font-size: 1rem;
    letter-spacing: 3px;
  }
}

@media (min-width: 1300px) {
  #logo {
    width: 17%;
  }
  .welcome {
    flex-basis: 80vh;
  }
  .mainDiv {
    flex-basis: 28%;
  }

  .contactContainer {
    margin-bottom: 12vh;
    margin-top: 10vh;
    width: 100%;
    height: 40vh;
    min-height: 30vw;
  }
  .leftPanel img {
    flex-basis: 50%;
    width: 30%;
  }
}
